* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
}

.calculator {
    background: #222;
    width: 90%;
    max-width: 350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

#display {
    background: #000;
    color: #0f0;
    font-size: 2.5rem;
    padding: 15px;
    border-radius: 8px;
    text-align: right;
    margin-bottom: 15px;
    overflow-x: auto;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    padding: 18px;
    background: #444;
    color: white;
    border: none;
    font-size: 1.4rem;
    border-radius: 10px;
    transition: 0.2s;
}

.btn:hover {
    background: #555;
}

.op {
    background: #ff9500;
}

.op:hover {
    background: #e68a00;
}

.equal {
    background: #28a745;
    grid-column: span 4;
}

.equal:hover {
    background: #218838;
}

#clear {
    background: #d63031;
}

#clear:hover {
    background: #b62828;
}
#backspace {
    background: #6c5ce7;
}

#backspace:hover {
    background: #5947c1;
}
