body{
    display: flex;
    justify-content: center;
}

/* Paletas De Cores */
:root {
  --ceu-sereno-fundo: #E0F7FA;
  --ceu-sereno-texto: #004D40;

  --lavanda-suave-fundo: #EDE7F6;
  --lavanda-suave-texto: #4527A0;

  --areia-e-mar-fundo: #FFFDE7;
  --areia-e-mar-texto: #006064;

  --por-do-sol-neon-fundo: #FFCCBC;
  --por-do-sol-neon-texto: #FF3D00;

  --cyber-limao-fundo: #F0F4C3;
  --cyber-limao-texto: #558B2F;

  --framboesa-ousada-fundo: #FCE4EC;
  --framboesa-ousada-texto: #880E4F;

  --noite-estrelada-fundo: #263238;
  --noite-estrelada-texto: #FFEB3B;

  --floresta-mistica-fundo: #3E2723;
  --floresta-mistica-texto: #DCE775;

  --vinho-e-ouro-fundo: #4A148C;
  --vinho-e-ouro-texto: #FFD740;

  --cha-canela-fundo: #FBE9E7;
  --cha-canela-texto: #5D4037;

  --trigo-e-sol-fundo: #FFF8E1;
  --trigo-e-sol-texto: #FF8A65;

  --menta-fresca-fundo: #E8F5E9;
  --menta-fresca-texto: #33691E;

  --cimento-e-fogo-fundo: #E0E0E0;
  --cimento-e-fogo-texto: #D50000;

  --gelato-manga-fundo: #FFECB3;
  --gelato-manga-texto: #1A237E;

  --minimalista-chic-fundo: #FFFFFF;
  --minimalista-chic-texto: #212121;

  --Preto-Sutil: #1C1C1C;
}


/* CONFIGURAÇÕES GERAIS   */

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
      background-image: linear-gradient(
        to bottom,
        #6A0DAD 0%,    /* Roxo Elétrico */
        #0D001A 75%    /* Índigo Profundo/Quase Preto */
    );
    background-repeat: no-repeat;
}

.title {
padding: 0.7rem;
}

/* SIDEBAR*/

.sidebar {
    position: fixed;
    top: 0;
    /*left: 260px;*/
    width: 260px;
    height: auto;
    background: #111;
    color: white;
    padding: 100px 25px;
    transition: left 0.35s ease;
    box-sizing: border-box;
    z-index: 1000;
}

.sidebar.open {
    left: 0;
}

.sidebar h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 16px;
    transition: padding-left 0.2s ease;
}

.sidebar ul li a:hover {
    padding-left: 10px;
    color: #fff;
}

/* BOTÃO TOGGLE           */

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 26px;
    background: #222;
    color: white;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1100;
}

.toggle-btn:hover {
    background: #333;
}


/* CONTEÚDO PRINCIPAL     */

#page-content {
    transition: filter .3s ease;
    padding: 20px;
}

.page-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* FOOTER */

footer {
    width: 50%;
}

    footer p {
        font-weight: bold;
    }

    footer address {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(3, 30px);
        column-gap: 5px;
    }