:root {
:root {
  --ceu-sereno-fundo: #E0F7FA;
  --ceu-sereno-texto: #004D40;

  --lavanda-suave-fundo: #EDE7F6;
  --lavanda-suave-texto: #4527A0;

  --areia-e-mar-fundo: #FFFDE7;
  --areia-e-mar-texto: #006064;

  --por-do-sol-neon-fundo: #FFCCBC;
  --por-do-sol-neon-texto: #FF3D00;

  --cyber-limao-fundo: #F0F4C3;
  --cyber-limao-texto: #558B2F;

  --framboesa-ousada-fundo: #FCE4EC;
  --framboesa-ousada-texto: #880E4F;

  --noite-estrelada-fundo: #263238;
  --noite-estrelada-texto: #FFEB3B;

  --floresta-mistica-fundo: #3E2723;
  --floresta-mistica-texto: #DCE775;

  --vinho-e-ouro-fundo: #4A148C;
  --vinho-e-ouro-texto: #FFD740;

  --cha-canela-fundo: #FBE9E7;
  --cha-canela-texto: #5D4037;

  --trigo-e-sol-fundo: #FFF8E1;
  --trigo-e-sol-texto: #FF8A65;

  --menta-fresca-fundo: #E8F5E9;
  --menta-fresca-texto: #33691E;

  --cimento-e-fogo-fundo: #E0E0E0;
  --cimento-e-fogo-texto: #D50000;

  --gelato-manga-fundo: #FFECB3;
  --gelato-manga-texto: #1A237E;

  --minimalista-chic-fundo: #FFFFFF;
  --minimalista-chic-texto: #212121;

  --Preto-Sutil: #1C1C1C;
}

}